<h1>Blocks</h1>

<ul>
  <% @blocks.each do |block| %>
    <li>
      <%= link_to block.name, block_path(block.id) %>
      <%= link_to "[edit]", edit_block_path(block.id) %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add New", new_block_path %></p>
